
@model Langben.DAL.MatchResult

@using Common
@using Models
<div class="portlet light bordered" style="margin:6px">

    <div class="portlet-title">
        <div class="caption">
            <i class="icon-equalizer font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">对比</span>
            <span class="caption-helper">Excel最大支持为5MB</span>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form id="form1" action="/MatchResult/Create" method="post" class="form-horizontal" enctype="multipart/form-data">
            <div class="form-body">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4" for="RuleId">比较规则</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.RuleId, Models.SysFieldModels.GetSysField("MYResult", "RuleId"), new { @class = "form-control" })

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-2" for="BasePath">基础文件</label>
                            <div class="col-md-10">
                                <input name="BasePath" type="file" id="BasePath" />

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-2" for="GoldTempPath">对比文件</label>
                            <div class="col-md-10">
                                <input name="GoldTempPath" type="file" id="GoldTempPath" />

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <input id="xuanji" value="进行对比" type="submit" onclick="javascript:
        var RuleId = $('#RuleId').val();
        if (RuleId == null || RuleId == '') {
            alert('规则不能为空');
            return false;
        } else {
            $('#RuleName').val($('#RuleId').find('option:selected').text());
        }
        if ($('#BasePath').val() == '') {

            alert('请选择基础上传文件！');
            return false;
        }
        if ($('#GoldTempPath').val() == '') {

            alert('请选择对比上传文件！');
            return false;
        }" class="btn btn-primary" />
                                <button type="button" class="btn default" onclick="BackList('/MatchResult')">返回</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            </div>
             <input type="hidden" value="" name="RuleName" id="RuleName"/>
        </form>
        <!-- END FORM-->
    </div>
</div>

<script type="text/javascript">



</script>




