
@model Langben.DAL.MYResult

@using Common
@using Models
<div class="portlet light bordered" style="margin:6px">

    <div class="portlet-title">
        <div class="caption">
            <i class="icon-equalizer font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">对比</span>
            <span class="caption-helper">Excel最大支持为5MB</span>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="/api/MYResultApi/Post" class="form-horizontal">
            <div class="form-body">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4" for="GoldTempPath">比较规则</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.GoldTempId, Models.SysFieldModels.GetSysField("MYResult", "GoldTempId"), new { @class = "form-control" })

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-2" for="GoldTempPath">基础文件</label>
                            <div class="col-md-10">
                                <input name="name" type="file" id="file" />
                              
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-2" for="GoldTempPath">对比文件</label>
                            <div class="col-md-10">
                                <input name="name" type="file" id="file" />
                               
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button id="xuanji" type="button" onclick="publish();" class="btn btn-primary">进行对比</button>
                                <button type="button" class="btn default" onclick="BackList('/MatchResult')">返回</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            </div>
            <div id="hiddenPicture"></div>
        </form>
        <!-- END FORM-->
    </div>
</div>
 
<script type="text/javascript">
    function publish() {
        var GoldTempId = $("#GoldTempId").val();//
        if (GoldTempId == null || GoldTempId == '') {
            alert('目标模板不能为空');
            return false;
        }
        var Style = $("#Style").val();//
        if (Style == null || Style == '') {
            alert('政策不能为空');
            return false;
        }
        $("#xuanji").attr('disabled', true);


        $.ajax({
            url: "/api/MyResultApi/Post",
            type: "Post",
            dataType: "json",
            data: {
              GoldTempId: GoldTempId
            , GoldTempName: $("#GoldTempId").find("option:selected").text()
            , Style: $("#Style").find("option:selected").text()
            , GoldTempPath: $(".GoldTempPath").val()
            , GoldTempFullPath: $(".GoldTempFullPath").val()
            , InsuranceId: $("#Style").val()

            },
            success: function (data) {
                if (data.Code == 1) {
                    $("#contentBody").load("/MatchResult", function () {

                    });
                   
                } else {
                    $("#xuanji").attr('disabled', false);
                    alert('发布失败，请联系管理员ben@langben.com');


                }

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#xuanji").attr('disabled', false);
                alert("获取数据失败");
            }
        });
    }

  
</script>




